@font-face {
    font-family: 'Canaro-semibold';
    src: url('../fonts/canaro-semibold-webfont.eot');
    src: url('../fonts/canaro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/canaro-semibold-webfont.woff') format('woff'),
         url('../fonts/canaro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/canaro-semibold-webfont.svg#gotham-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canaro-Book';
    src: url('../fonts/Canaro-Book.eot');
    src: url('../fonts/Canaro-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Canaro-Book.woff') format('woff'),
         url('../fonts/Canaro-Book.ttf') format('truetype'),
         url('../fonts/Canaro-Book.svg#gotham-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canaro-medium';
    src: url('../fonts/canaro-medium-webfont.eot');
    src: url('../fonts/canaro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/canaro-medium-webfont.woff') format('woff'),
         url('../fonts/canaro-medium-webfont.ttf') format('truetype'),
         url('../fonts/canaro-medium-webfont.svg#gotham-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Regular.eot');
    src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Muli-Regular.woff') format('woff'),
         url('../fonts/Muli-Regular.ttf') format('truetype'),
         url('../fonts/cMuli-Regular.svg#gotham-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-bold';
    src: url('../fonts/muli-bold-webfont.eot');
    src: url('../fonts/muli-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muli-bold-webfont.woff') format('woff'),
         url('../fonts/muli-bold-webfont.ttf') format('truetype'),
         url('../fonts/muli-bold-webfont.svg#gotham-book') format('svg');
    font-weight: normal;
    font-style: normal;
}


body, html { height: 100%; padding: 0; margin: 0; }
.clear { clear: both; }
.inline-container { padding-left: 15%; padding-right: 15% }
.header-image-top img { max-width: 100%; }

#wrap { position: relative; }
#index-content { padding-bottom: 5% }
#header-top { width: 100%; padding-top: 14px }
#header-top .header-logo { float: left; width: 30% }
#header-top .header-logo img { width: 98%; }

#header-top .header-social-logo { float: right; width: 60%; margin-top: 5px }
#header-top .header-social-logo ul { list-style: none; }
#header-top .header-social-logo li { float: right; margin-right: -20px }
#header-top .header-social-logo img { width: 50% }

#header-top .border { border-top: 1px solid #939598 }

/* font dan ukuran */

.subtitle1 { font-family: "Canaro-semibold"; font-size: 10.5pt; }
.title1 { font-family: "Canaro-medium"; font-size: 23pt; }
.title2 { font-family: "Canaro-medium"; font-size: 12pt; }
.bodycopy1 { font-family: "Muli"; font-size: 9pt; }


/* navigation */

#header-top .header-menu { width: 100%; background-color: #fff; border-top: 0.5px solid #c0c2c4; margin-top: 10px;}
#header-top .header-menu #navigation { float: left; width: 90%; height: 38px}
#header-top .header-menu #navigation ul { list-style: none; padding-left: 0; margin-top: 0;
    margin-bottom: 0; }
#header-top .header-menu #navigation li { float: left; margin-right: 1%; padding-top: 10px; padding-left: 20px; padding-right: 20px; padding-bottom: 5px }
#header-top .header-menu #navigation #menu-item-nav { text-decoration: none; position: relative; color: #6d6e70; font-size: 8.5pt; text-transform: uppercase; font-family: "Canaro-semibold"; letter-spacing: 0.5px; }
#header-top .header-menu #navigation .active { border-top: 4px solid #aaca7e; border-left: 1px solid #c0c2c4; border-right: 1px solid #c0c2c4 }
#header-top .header-menu #navigation li.active { padding-top: 6px; padding-left: 19px; padding-right: 19px; padding-bottom: 10px; }

#header-top .header-menu .search { float: right; width: 10%; margin-top: 10px;}
#header-top .header-menu .search img { width: 20%; float: right }

.header-background { 
	background-image:url('../img/header-background.png');
	width: 100%;
	height: 110%;
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	z-index:-1;  }

/* Page Index ( header middle ) */

.header-middle { height: 626px; position: relative; }
.header-middle .header-middle-top img { width: 100%; position: absolute; z-index: 2 }
.header-middle .header-middle-bottom { width: 100%; }
.header-middle .header-middle-bottom img { width: 100%; height: 35%; position: absolute; z-index: 2; bottom: 0; }

.header-middle .header-middle-background { width: 100%; height: 99%; position: absolute; z-index: -9; overflow: hidden;}
.header-middle .header-middle-background img { 
	width: 100%; z-index: -9; position: relative; height: 100%  }

/* Page Index ( panel in header background )*/
#header-panel { width: 40%; padding-top: 20%; padding-left: 15%; position: absolute; z-index: 3 }
#header-panel .header-panel-title { 
	background-color: #000; 
	padding-top: 22px; padding-left: 28px; padding-bottom: 20px; 
	font-size: 34px; font-family: "Canaro-Book"; color: #fff; font-weight: 800; letter-spacing: 0.75px;
	border-top-right-radius: 15px; border-top-left-radius: 15px;}
#header-panel .header-panel-body { 
	background-color: #fff; 
	padding-top: 8px; padding-left: 28px; padding-bottom: 50px; padding-right: 86px;
	opacity: 0.9; color: #000; line-height: 16pt;
	border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;
	box-shadow:0px 6px 1px #000; font-size: 10.5pt; font-family: "Muli"; }
#header-panel .header-panel-footer { width: 100%; padding-top: 15px; }

#header-panel .header-panel-footer .left { float: left; width: 48%; }
#header-panel .header-panel-footer .right { float: left; width: 48%; border-left: 2px solid #b3a995; padding-left: 10px }
.header-panel-footer .text { color: #b3a995; vertical-align: middle; }
.header-panel-footer img { width: 12%; vertical-align: middle; }

/* warna panel */
	/* header panel coklat */
	#header-panel.brown .header-panel-title { background-color: #b3a995; }
	#header-panel.brown .header-panel-body { box-shadow:0px 6px 1px #b3a995; border-right: 1px solid #b3a995; border-left: 1px solid #b3a995; }

	/* header panel orange */
	#header-panel.orange .header-panel-title { background-color: #e27137; }
	#header-panel.orange .header-panel-body { box-shadow:0px 6px 2px #e27137; border-right: 1px solid #e27137; border-left: 1px solid #e27137; }

	/* header panel merah */ 
	#header-panel.red .header-panel-title { background-color: #f44274; }
	#header-panel.red .header-panel-body { box-shadow:0px 6px 2px #f44274; border-right: 1px solid #f44274; border-left: 1px solid #f44274; }

	/* header panel abu abu */
	#header-panel.grey .header-panel-title { background-color: #ddd4d2; }
	#header-panel.grey .header-panel-body { box-shadow:0px 6px 2px #ddd4d2; border-right: 1px solid #ddd4d2; border-left: 1px solid #ddd4d2; }

	/* header panel hitam */
	#header-panel.black .header-panel-title { background-color: #000; }
	#header-panel.black .header-panel-body { box-shadow:0px 6px 2px #000; border-right: 1px solid #000; border-left: 1px solid #000; }

/* Page Index ( slider header ) */
.header-slider { float: left; width: 100%; height: 100px; position: relative; z-index: 3; bottom: 0; position: absolute; }
.header-slider-container { padding-left: 15%; padding-right: 15%; margin-top: 25px }

.header-slider .arrow-left { float: left; padding-right: 5%; cursor: pointer; margin-top: 13px; }
.header-slider .arrow-right { float: right; cursor: pointer; margin-top: 13px; }
.header-slider .item-slide { float: left; width: 85%; }
.header-slider .item-slide .slide { width: 95%;  }

.header-slider .item-slide .hakiki { padding-right: 45px }
.header-slider .item-slide .landkrone { padding-right: 30px }
.header-slider .item-slide .symrise { padding-right: 50px;}
.header-slider .item-slide .pakmaya { padding-right: 0px; padding-top: -10px }

/* bulat */
.item-slide .owl-nav { margin-top: -10px }
.owl-carousel .owl-item { border: 0px solid #000; }

/* Page Index ( content brand ) */

.content-brand { margin-top: 50px;}
.content-brand-inline-container { padding-left: 5%; padding-right: 5%}
.content-brand-top { display: table; width: 88%; margin-left: auto; margin-right: auto; text-align: center; }
.content-brand-top .one { 
	display: table-cell; 
	width: 15%; text-align: center;
	background-color: #4e9d40; color: #fff;
	border-bottom-left-radius: 20px; border-top-left-radius: 20px; 
	border-right: 1px solid #fff; border-bottom: 1px solid #fff; box-shadow:1px 3px 8px grey; 
}
.content-brand-top .one .text { font-family: "Muli-bold"; font-size: 9pt; letter-spacing: 0.5px; }
.content-brand-top .two {display: table-cell;  background-color: #8ab848;
	border-right: 1px solid #fff; border-bottom: 1px solid #fff; box-shadow:1px 3px 8px grey; width: 28% }
.content-brand-top .two img { width: 10%; vertical-align: middle; }
.content-brand-top .two .text { color: #fff; vertical-align: middle; padding-left: 2px; padding-top: 2px; letter-spacing: 1px }
.content-brand-top .end { border-top-right-radius: 20px; border-bottom-right-radius: 20px;  }
.content-brand-inline-padding-one { padding: 5px 3px 6px 8px  }
.content-brand-inline-padding-two { padding: 5px 0px 2px 8px  }


.content-brand-bottom { margin-top: 50px; }
.content-brand-bottom fieldset { border-color: 1px solid #949698; border-bottom: 1px solid #8ab848; box-shadow:0px 5px 0px #8ab848; position: relative; }
.content-brand-bottom fieldset .title { color: #58595b; text-align: center; padding: 0 15px 0 15px; }

.content-brand-bottom fieldset .left { width: 50%; float: left; margin-bottom: 3.5%; }
.content-brand-bottom fieldset .right { width: 50%; float: left; }

.content-brand-bottom fieldset .left .sub-title { margin-top: 40px; color: #58595b; }
.content-brand-bottom fieldset .line-image { position: absolute; left: 0; top: 13% }
.content-brand-bottom fieldset .left .line-image img { width: 50%; }
.content-brand-bottom fieldset .left .body { margin-top: 5%; }


.content-brand-bottom fieldset .left .brand-item { width: 46%; min-height: 30px; height: auto; border-bottom: 1px solid #000; margin-top: 2.5%; margin-right: 4%; float: left; }
.content-brand-bottom fieldset .left .brand-item a { text-decoration: none; color: #58595b; vertical-align: middle;}
.content-brand-bottom fieldset .left .brand-item img { width: 6%; float: right; vertical-align: middle; display: none }
.content-brand-bottom fieldset .left .brand-item.active a { color: #a6c776  }
.content-brand-bottom fieldset .left .brand-item.active img { display: block }

.content-brand-bottom fieldset .right img { width: 80%; padding-left: 20%; }

.content-brand-bottom fieldset .left .active a { color: #a6c776; }
.content-brand-bottom fieldset .left .active img {display: block; }

/* Page Index ( content news )*/

.content-news { 
	margin-top: 6%;
	padding-top: 50px;
	padding-bottom: 400px;
	background-image:url('../img/content-news.png');
	width: 100%;
	height: 110%;
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	z-index:-1;  }

.header-line {
    margin:0 0 1em;
    line-height:2em;
    padding:0;
    position:relative;
    overflow:hidden;
    text-align:center;
    font-weight: normal;
    color: #58595b;
}
.header-line:before,.header-line:after {
    content:" ";
    position:absolute;
    top:50%;
    margin-left:-999em;
    height:2px;
    width:998em;
    border-top:1px solid #bebebe;
    background:rgba(0,0,0,0.2);
}
.header-line:after {
    left:auto;
    width:999em;
    margin:0 0 0 1em;
}

.content-news .news-panel { width: 100%; max-height: 100%; text-align: center; }
.news-panel-container { padding: 0 10px 15px 10px; }
.news-panel .news-panel-item { width: 100%; height: 420px; background-color: #fff; margin-right: 2%; float: left; box-shadow:4px 3px 7px grey; }
.news-panel .news-panel-item img { width: 100% }
.news-panel .news-panel-category { 
	color: #fff; margin-top: 10px; padding: 3px 5px 3px 5px; width: 50px;
	font-family: "Canaro-semibold"; font-size: 12px; text-align: center;
	border-radius: 5px }

.category-oldgreen { background-color: #3a7f32 }
.category-lightgreen { background-color: #8ab848 }
.category-orange { background-color: #e17036  }

.news-panel .news-panel-title { text-align: left; height: 100px; color: #6d6e70; margin-top: 10px; font-family: "Canaro-medium"; font-size: 20px; }
.news-panel .news-panel-description { text-align: left; margin-top: 15px; color: #6d6e70; font-family: "Muli"; font-size: 12px; }
.news-panel .news-panel-date { text-align: left; margin-top: 15px; color: #6d6e70; font-family: "Canaro-semibold"; font-size: 10px;  }

.news-panel-navigation { width: 100%; margin-top: -45px; position: relative; z-index: 1; }
.news-panel-navigation .arrow-left { width: 50%; }
.news-panel-navigation .arrow-left img { float: left; width: 5%; cursor: pointer; }
.news-panel-navigation .arrow-right { width: 50%; float: right;}
.news-panel-navigation .arrow-right img { float: right; width: 5%; cursor: pointer; }

.news-panel .owl-dots { display: inline-block; }
.news-panel .owl-stage-outer { height: 450px }
.news-panel .owl-nav { margin-top: 10px }

.container-button-view-all { margin-left: 44%; margin-top: 55px; margin-right: auto; }
.button-view-all { width: 75%; text-decoration: none; }
.button-view-all .one { background-color: #3a7f32; float: left; padding: 8px 8px 0 8px;
	border-top-left-radius: 10px; border-bottom-left-radius: 10px; height: 25px }
.button-view-all .one img { width: 20px; height: 30px vertical-align: middle; }
.button-view-all .two { 
	width: 40%; padding: 5px 0 0 0; height: 25px; border: 2px solid #3a7f32; border-radius: 10px; text-align: center;
	background-color: #fff; color: #3a7f32 }

/* Footer */
.footer { 
	position: absolute;
	bottom: 0;
	width: 100%;
    height: 450px;
    background-image: url("../img/footer.png");
    background-size: 100% 100%;  }

.footer-container { padding-top: 200px; padding-bottom: 48px }

.small-footer-image-center{ position: absolute; padding-top: 98px; margin-left: 49% }
.small-footer-image-center img { width: 40px }

.footer .one { width: 22%; color: #fff; float: left;  padding-right: 8%}
.footer .one .title { font-family: "Canaro-medium"; font-size: 12pt; padding-bottom: 10px}
.footer .one .desc { line-height: 1em }
.footer .one .title-desc { font-family: "Muli"; font-size: 9pt;}
.footer .one .address-desc { font-family: "Muli"; font-size: 9pt; }
.footer .one span { font-family: "Canaro-semibold" }

.footer .two { width: 22%; color: #fff; float: left; padding-right: 4%; border-right: 1px solid #fff }
.footer .two .title { font-family: "Canaro-medium"; font-size: 12pt; padding-bottom: 10px }
.footer .two .desc .desc-item { min-height: 30px; border-bottom: 1px solid #fff; margin-top: 4px; }
.footer .two .desc .desc-item a { text-decoration: none; color: #fff; font-family: "Muli"; vertical-align: middle; font-size: 9pt}
.footer .two .desc .none { border-bottom: 0; }

.footer .three { width: 22%; float: left; padding-left: 4%; border-right: 1px solid #fff }
.footer .three .title { padding-bottom: 10px; }
.footer .three .title a { color: #fff; font-family: "Canaro-medium"; font-size: 12pt; text-decoration: none; }

.footer .four { width: 15%; color: #fff; float: left; }
.footer .four .title { padding-bottom: 10px; padding-left: 26% }
.footer .four .footer-logo { float: left; }
.footer .four .footer-logo ul { list-style: none; position: absolute; margin: 0; }
.footer .four .footer-logo li { float: left; margin-right: -8px }
.footer .four .footer-logo img { width: 50% }

.copyright { background-color: #fff; width: 100%; }
.copyright-left { float: left; }
.copyright-right { float: right; }
.copyright-right .top { font-family: "Muli-bold"; font-size: 12px; margin-bottom: 0; }
.copyright-right .bottom { font-family: "Muli"; font-size: 12px; margin-top: 0 }

/* header on scroll */
#header-onscroll { display: none; }
#header-onscroll img { max-width: 100%; position: fixed; z-index: 1000; }
#header-onscroll .header-menu { width: 100%; background-color: #fff; position: fixed; margin-top: 5px; padding-right: 15%; padding-left: 15%; z-index: 999}
#header-onscroll .header-menu #navigation { float: left; width: 68%;}
#header-onscroll .header-menu #navigation ul { list-style: none; padding-left: 15px; padding-bottom: 20px }
#header-onscroll .header-menu #navigation li { float: left; margin-right: 1%; padding-top: 5px; padding-left: 20px; padding-right: 20px; padding-bottom: 5px }
#header-onscroll .header-menu #navigation li a { text-decoration: none; position: relative; color: #6d6e70; font-size: 9pt; text-transform: uppercase; font-family: "Canaro-semibold" }

#header-onscroll .header-menu .search { float: left; width: 10%; margin-top: 18px}
#header-onscroll .header-menu .search img { width: 2%; float: left }


/* nav mega menu about */

.nav-mega-menu {
	margin-left: 12%; margin-top: 10px; padding-bottom: 50px;
	width: 75%; max-height: 100% ;
	position: absolute; z-index: 4; left: 0; 
	background-image: url("../img/drodown-bg-about.png");
	background-size: 100% 100%;
	box-shadow:0px 8px 0px #8ab848; }

.mega-menu-about, .mega-menu-product { 
	display: none;
}
.mega-menu-about.dropdown, .mega-menu-product.dropdown {
	display: block;
}

.mega-menu-one { float: left; width: 20%; margin-top: 50px; border-right: 1px solid #636467; padding-left: 3%; padding-top: 20px }
.mega-menu-one .title { font-family: "Canaro-semibold"; font-size: 20px; color: #636467; text-transform: uppercase; }
.mega-menu-one .image { padding-top: 50px; }
.mega-menu-one .image img { width: 80% }


.mega-menu-sub-menu { margin-top: 50px; }
.mega-menu-sub-menu .mega-menu-item { float: left; min-height: 30px; width: 20%; padding: 0 25px 25px 25px; border-right: 1px solid #636467; }
.mega-menu-sub-menu .mega-menu-item.end { border-right: none }
.mega-menu-sub-menu .mega-menu-item p { margin-top: 0; margin-bottom: 0; }
.mega-menu-sub-menu .mega-menu-item .menu-text { border-bottom: 1px solid #000; padding-bottom: 10px }
.mega-menu-sub-menu .mega-menu-item a { text-decoration: none; color: #58595b; font-family: "Canaro-semibold"; vertical-align: middle; font-size: 15px }
.mega-menu-sub-menu .mega-menu-item img { width: 7%; vertical-align: middle; margin-left: 5px; display: none }

.mega-menu-sub-menu .mega-menu-item:hover a { color: #a6c776  }
.mega-menu-sub-menu .mega-menu-item:hover img { display: inline-block; }

/*.mega-menu-item { min-height: 30px; border-bottom: 1px solid #000; margin-top: 10px; margin: 0 25px 40px 25px; }
.mega-menu-item a { text-decoration: none; color: #58595b; font-family: "Canaro-semibold"; vertical-align: middle; font-size: 15px }
.mega-menu-item img { width: 8%; display: none; }

.mega-menu-item:hover a { color: #a6c776  }
.mega-menu-item:hover img { display: inline-block; }

.mega-menu-one { float: left; width: 20%; margin-top: 50px; border-right: 1px solid #636467; padding-left: 3%; }
.mega-menu-two { float: left; width: 25%; margin-top: 50px; border-right: 1px solid #636467 }
.mega-menu-three { float: left; width: 26%; margin-top: 50px; border-right: 1px solid #636467 }
.mega-menu-four { float: left; width: 25%; margin-top: 50px; }*/


/* -----------------------------------------  Page about profile css ------------------------------------- */


/* Page About ( banner top ) */ 

.about-header-middle { 
	width: 100%;
    height: 200px;
    background-image: url("../img/about-banner.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
 }
.about-header-middle img { width: 100% }
.about-header-middle h2 { text-align: center; font-family: "Muli"; font-size: 40px; color: #fff; margin-top: 50px; }
.about-header-middle-line { background-color: #fff; width: 50px; width: 39px; height: 7px; margin-top: 30px; position: relative; margin:auto; }

/* Page About ( about top ) */
.content-brand h1 { font-family: "Canaro-medium"; font-size: 35px; color: #4d4d4f; margin-top: 250px }
.content-brand-bottom.content-about fieldset { padding-top: 50px; padding-bottom: 50px; position: relative; padding-left: 0; }
.content-brand-bottom.content-about fieldset .title { color: #58595b; text-align: center; 
padding: 0 15px 0 15px; text-transform: uppercase; }

.content-brand-bottom.content-about fieldset .left { width: 30%; float: left; margin-left: 10% }
.content-brand-bottom.content-about fieldset .right { width: 50%; float: left; }

.content-brand-bottom fieldset p { font-family: "Muli"; font-size: 15px; color: #6d6e70 }
.button-view-all.button-about { width: 100%; text-decoration: none; margin-top: 50px; }
.button-view-all.button-about .one { background-color: #8ab848; box-shadow:0px 4px 1px #d1d3d4; }
.button-view-all.button-about .two { color: #8ab848; border: 2px solid #8ab848; box-shadow:5px 4px 1px #d1d3d4; width: 85% }

/* Page About ( about middle ) */
.about-middle-content { display: flex; background-color: #f1f1f2; margin-top: 50px; padding-top: 50px; padding-bottom: 50px; height: auto; }
.about-content-menu { width: 100%; max-height: 100%; text-align: center; }
.about-content-menu-container { padding: 0 10px 15px 20px; }
.about-content-menu .about-content-menu-item { width: 30%; height: 500px; background-color: #fff; margin-right: 4.5%; float: left; box-shadow: 6px 6px 2px #bdbec2; }
.about-content-menu .about-content-menu-item.end { margin-right: 0 }
.about-content-menu .about-content-menu-item .main-image { width: 100% }

.about-content-menu .about-content-menu-title { text-align: left; color: #6d6e70; margin-top: 40px; font-family: "Canaro-medium"; font-size: 19px; }
.about-content-menu .about-content-menu-description { text-align: left; margin-top: 20px; color: #6d6e70; font-family: "Muli"; font-size: 12px; }
.about-content-menu .about-content-menu-button-container { text-align: left; margin-top: 30px; }

.button-view-all.button-about-menu .one { text-align: center; }
.button-view-all.button-about-menu .one img{ width: 50%; }

/* Page About ( about bottom ) */
.about-bottom-content { background-color: #fff; height: auto; padding-bottom: 450px }
.about-bottom-container { 
	width: 100%;
    height: 250px;
    background-image: url("../img/about-bottom-background.png");
    background-size: 100% 100%;
    z-index: -1;
    margin-top: 100px;
 }
.about-bottom-content-left { 
	width: 30%;
    height: 250px;
    background-image: url("../img/about-bottom-one.png");
    background-size: 100% 100%;
    z-index: -1;
    float: left;
 }
.about-bottom-content-center { width: 33%; float: left; color: #fff; padding-left: 50px; padding-top: 50px }
.about-bottom-content-center h3 { font-family: "Canaro-medium"; }
.about-bottom-content-center p { font-family: "Muli"; font-size: 15px }

.about-bottom-content-right { float: left; width: 30%; padding-top: 50px }
						/* button kanan */
.button-view-all.button-about-bottom .one { background-color: #fff; box-shadow:0px 4px 1px #7da941; }
.button-view-all.button-about-bottom .two { background-color: #8ab848; color: #fff; border: 2px solid #fff; box-shadow:5px 4px 1px #7da941; width: 50% }


/* ---------------------------------------- Page about facility  -------------------------------------------*/

.about-header-middle.page-about-facility { 
	width: 100%;
    height: 200px;
    background-image: url("../img/about-banner-facility.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
 }

 /* about facility top */
#footer-white { position: absolute; bottom: 0; background-color: #fff; height: 100px; width: 100%; }
.about-facility-top-content { margin-top: 250px; }
.about-facility-content-container { margin-left: 10%; }
.about-facility-top-content .title { text-align: center }
.about-facility-top-content .title .title1 span { background: #fff; color: #58595b; font-weight: normal; }

/* text behind line */
	.heading-with-line{ position:relative; text-align: center }
	.heading-with-line:before { content: ""; display: block; border-top: solid 2px #bebebe; width: 100%; height: 2px;position: absolute;top: 50%;z-index: 0;}
	.heading-with-line span { background: #e7e8e9; padding: 0 10px; position: relative;z-index: 1; }

.about-facility-top-content fieldset { padding: 0;border-left: none; border-top: none; border-bottom: none; margin: 0; padding: 0; border-right: 1px solid #a5a7a9; position: relative; }
.about-facility-top-content fieldset .left { width: 50%; float: left; }

.about-facility-top-content fieldset .right { 
	width: 50%; float: left; height: 100%; 
	border-top: 5px solid #b3a995; /* border atas */
	padding-top: 6%;
	vertical-align: middle;
}

.about-facility-top-content fieldset:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 50%;
	border-bottom: 5px solid #b3a995; /* border bawah */
}

.about-facility-top-content fieldset .left img{ width: 100% }
.about-facility-top-content fieldset .right h3 { font-family: "Canaro-medium"; font-weight: normal; }
.about-facility-top-content fieldset .right p { font-family: "Muli"; }

.about-facility-top-content fieldset .right .line-image { position: absolute; left: 49.8%; top: 13% }

/* about facility bottom */
.page-about-facility-container { width: 100% }
.about-facility-bottom-content { background-color: #e7e8e9; height: auto; margin-top: 100px; padding-bottom: 450px; padding-top: 50px; display: flex; }
.about-facility-bottom-content .title { margin-bottom: 50px; }
.about-facility-discover { font-family: "Muli"; text-transform: uppercase; font-size: 20px; }


/* -------------------------------------- about brand ------------------------------------------*/

/* page about brand top */
.about-page-brand { margin-top: 250px; }
.about-brand-content-container { margin-left: 10%; }
.about-page-brand .title { text-align: center; }
.about-page-brand .title .about-brand-title { font-weight: normal; color: #58595b; }
.about-page-brand .title .about-brand-title span { background: #fff; }

.page-about-brand { 
	width: 100%;
    height: 200px;
    background-image: url("../img/about-banner-brand.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
 }

.about-page-brand fieldset { padding: 0;border-right: none; border-top: none; border-bottom: none; margin: 0; padding: 0; border-left: 1px solid #a5a7a9; position: relative; }
.about-page-brand fieldset .right { width: 50%; float: left; }

.about-page-brand fieldset .left { 
	width: 50%; float: left; height: 100%; 
	border-top: 5px solid #94c54d; /* border atas */
	padding-top: 6%;
	vertical-align: middle;
}

.about-page-brand fieldset:after {
	content: '';
	position: absolute;
	bottom: 0px;
	right: 50%;
	width: 50%;
	border-bottom: 5px solid #94c54d; /* border bawah */
}
.about-page-brand fieldset .right img{ width: 100% }
.about-page-brand fieldset .left h3 { font-family: "Canaro-medium"; font-weight: normal; }
.about-page-brand fieldset .left p { font-family: "Muli"; }
.about-page-brand fieldset .left .line-image { position: absolute; left: 0; top: 13% }
.about-page-brand fieldset .left .line-image img { width: 50% }

/* page about brand bottom */
.about-brand-bottom-content { background-color: #fff; height: auto; display: inline-block; margin-top: 100px; padding-top: 50px; padding-bottom: 450px }
.about-brand-bottom-content .title { margin-bottom: 50px; }
.about-brand-discover { font-family: "Muli"; text-transform: uppercase; font-size: 20px; }
.about-brand-discover span { background-color: #fff; }

	/* about brand page conten */

.about-page-brand-content { width: 100%; }
.about-page-brand-item { width: 24%; height: 170px; border-right: 1px solid #000; float: left; padding-top: 38px;}
.about-page-brand-item img { width: 60%; margin: 0 auto; display: block }
.about-page-brand-item.end { border-right: 0}


/* -------------------------------- Page Event News Article -------------------------------*/

.page-event-news-article { 
	width: 100%;
    height: 200px;
    background-image: url("../img/event-news-banner.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
 }

.event-news-article-content { margin-top: 250px; padding-bottom: 450px }
.event-news-article-content .content-title { padding-left: 24%; padding-right: 25% }
.event-news-article-content .title1 { font-weight: normal; color: #58595b; text-align: center; }
.event-news-article-content .content-date { width: 100%; border-top: 2px solid #bcbdc0; border-bottom: 2px solid #bcbdc0; padding-bottom: 5%; font-family: "Muli-bold"; font-size: 12px; color: #a7a9ac}
.event-news-article-content .content-date-container { float: right }
.event-news-article-content .content-date .left { width: 50%; float: left }
.event-news-article-content .content-date .right { width: 50%; float: right }
.event-news-article-content .content-date ul { list-style: none; padding-left: 0; margin-top: 0; margin-bottom: 0; position: relative; }
.event-news-article-content .content-date li { display: inline; list-style: none; }
.event-news-article-content .content-date img { width: 5% }
.event-news-article-content .content-article { width: 100%; text-align: left; margin-top: 50px }
.event-news-article-content .content-article .subtitle { font-family: "Canaro-semibold"; font-size: 10pt }
.event-news-article-content .content-article p { font-family: "Muli"; color: #a7a9ac }
.event-news-article-content .content-article img { width: 100% }
.event-news-article-content .content-article .event-news-back-button .one { background-color: #e17036; padding: 8px 2px 0 8px ; }
.event-news-article-content .content-article .event-news-back-button .one img { width: 75% }
.event-news-article-content .content-article .event-news-back-button .two { border: 2px solid #e17036; color: #e17036 }

/*--------------------------------- Page Product Oil ------------------------------------*/

.page-product-oil { 
	width: 100%;
    height: 200px;
    background-image: url("../img/product-oil-banner.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
 }

 .page-product-oil-bottom-background { 
 	margin-top: 6%;
	padding-top: 50px;
	background-image:url('../img/content-news.png');
	width: 100%;
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	z-index:-1;
    display: flow-root;
 }

 .product-oil-category { width: 100% }
 .product-oil-category-item { min-height: 30px; border-bottom: 2px solid #bcbec0; margin-top: 2.5%; width: 15%; margin-right: 2%; float: left; }
 .product-oil-category-item.end { margin-right: 0 }
 .product-oil-category-item a { text-decoration: none; color: #58595b; vertical-align: middle;}
 .product-oil-category-item img { width: 6%; float: right; vertical-align: middle; display: none }
 /* jika aktif */
 .product-oil-category-item.active { border-bottom-color: #8ab848  }
 .product-oil-category-item.active a { color: #8ab848  }
 .product-oil-category-item.active img { display: block; width: 12% }

 .product-oil-brand-title { border-bottom: 1px solid #838588; padding-bottom: 5px; font-family: "Canaro-medium"; color: #838588 }
 .product-oil-brand-container { padding-left: 5%; padding-right: 5% }
 .page-product-oil-bottom-background .product-oil-brand-content { width: 100% }
 .page-product-oil-bottom-background .product-oil-brand-item { width: 33%; height: 170px; float: left;}
 .page-product-oil-bottom-background .product-oil-brand-item img { width: 90%; margin: 0 auto; }

 /* ------------------------------------------- Page About Standard ----------------------------------------------------*/
.page-about-standard { 
	width: 100%;
    height: 200px;
    background-image: url("../img/about-standard-banner.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
 }

.about-standard-bottom-content { background-color: #e7e8e9; height: 750px; margin-top: 100px; padding-bottom: 450px; padding-top: 50px; }
.about-page-standard-bottom-desc { padding-left: 19%; padding-right: 19% }
.about-page-standard-bottom-desc p { font-family: "Muli-bold"; font-size: 13pt; color: #808285; text-align: center; }

.about-standard-bottom-content fieldset { padding-top: 50px; padding-bottom: 0; position: relative; padding-left: 0; margin-top: 50px;  border-color: 1px solid #949698; border-bottom: 1px solid #8ab848; box-shadow:0px 5px 0px #8ab848; }
.about-standard-bottom-content fieldset .title {color: #4d4d4f; text-align: center; padding: 0 15px 0 15px; text-transform: uppercase; font-size: 14pt }

.content-standard-item-inline-container { width: 100%; }
.about-standard-bottom-content .about-standard-certification-item { width: 33%; height: 170px; border-right: 1px solid #000; float: left; padding-top: 20px; padding-bottom: 80px }
.about-standard-bottom-content .about-standard-certification-item img { width: 70%; margin: 0 auto; display: block }
.about-standard-bottom-content .about-standard-certification-item p { font-family: "Muli-bold"; font-size: 11pt; color: #58595b; text-align: center;}
.about-standard-bottom-content .about-standard-certification-item.end { border-right: 0 }

/* ------------------------------------------- Page Contact -----------------------------------------------------------*/

.page-contact { 
	width: 100%;
    height: 200px;
    background-image: url("../img/contact-banner.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
}

.page-contact-content { margin-bottom: 200px; }
.page-contact-bottom { height: auto; padding-bottom: 450px; width: 100%; display: inline-block; }
.page-contact-content .content-left { width: 65%; float: left }
.page-contact-content .content-right { width: 30%; float: right; padding-left: 5%; }
.page-contact-content .content-left .contact-content-form { background-color: #f5f6f6; position: relative; padding: 5%; }
.page-contact-content .content-left .contact-content-form .contact-content-top-border{ position: absolute; top: 0; left: 0; }
.page-contact-content .content-left .contact-content-form .contact-content-top-border img { width: 100%; }
.page-contact-content .content-left .contact-content-form .title { font-family: "Canaro-medium"; font-size: 13pt; text-align: center; color: #4d4d4f; text-transform: uppercase; margin-bottom: 20px }
.page-contact-content .content-left .contact-content-form table { width: 100%; border-collapse: collapse; border-left: #f5f6f6; border-right: #f5f6f6 }
.page-contact-content .content-left .contact-content-form table td { padding-top: 2%; padding-bottom: 2%; height: 70%; font-family: "Canaro-semibold"; color: #818385 }
.page-contact-content .content-left .contact-content-form table img { width: 20%; }
.page-contact-content .content-left .contact-content-form table span { position: absolute; top: 25%; left: 25% }
.page-contact-content .content-left .contact-content-form table textarea { resize: none; }
.page-contact-content .content-left .contact-column-first { width: 20%; position: relative; }
.page-contact-content .contact-content-form-border-left { border-left: 1px solid #58595b }
.page-contact-content .contact-text { width: 90%; background-color: #f5f6f6; border-width: 0; padding: 7px; }

.page-contact-content .content-right .title { font-family: "Canaro-medium"; font-size: 13pt; text-align: left; margin-top: 11%; margin-bottom: 20px }
.page-contact-content .contact-section { border-top: 1px solid #58595b; padding: 5% 40% 10% 0; font-family: "Muli"; font-size: 10pt; color: #58595b }
.page-contact-content .contact-section.branch { padding-right: 35% }
.page-contact-content .contact-section .subtitle { font-family: "Canaro-semibold"; font-size: 12pt; color: #58595b }
.page-contact-content .contact-section .content { margin-top: 20px; position: relative; width: 100% }
.page-contact-content .contact-section .content span { position: absolute; left: 25% }


/* ------------------------------------------ Page product ------------------------------------------------------------*/

.page-product-header { 
    width: 100%;
    height: 200px;
    background-image: url("../img/product-banner.png");
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
 }
.page-product-content { widows: 100%; }
.page-product-content .page-product-content-item { width: 32%; margin-right: 2%; border-top: 4px solid #89b848; box-shadow: 6px 6px 2px #bdbec2; background-color: #fff; height: auto; float: left; margin-bottom: 20px }
.page-product-content .page-product-content-item.end { margin-right: 0; }
.page-product-content .page-product-content-item img { width: 100%; filter: grayscale(100%) }
.page-product-content .page-product-content-item .product-title { padding: 5%; font-family: "Canaro-medium"; font-size: 12pt; text-align: center; color: #606163 }
.page-product-content .page-product-content-item.active .product-title { color: #89b844 }
.page-product-content .page-product-content-item.active img { filter: none; }

/* ----------------------------------------- Page about milestone --------------------------------------------------------*/

.about-page-milestone { padding-bottom: 280px }
.page-about-milestone-content { 
    width: 100%;
    padding: 0px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }

 .page-about-milestone-content:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 5px;
   height: 92%;
   background: #94c54d;
   border-left: 5px solid #fff;
   z-index: 1
 }

 .timeline-item { position: relative; float: left; width: 100%; }

 .timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   padding-top: 6%;
   padding-bottom: 6%;
}

.timeline-block-right {
   float: right;
   width: 30%;
   padding-right: 15%;
   text-align: left;
}

.timeline-block-left {
    float: left;
    direction: rtl;
    width: 35%;
    padding-left: 15%;
    text-align: right;
    background-image:url('../img/content-news.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    z-index:-1;
}

.timeline-block-left img, .timeline-block-right img { width: 65%  }
.timeline-block-left h4, .timeline-block-right h4 { font-family: "Muli-bold"; font-weight: normal; font-size: 15px; color: #2e7b26 }
.timeline-block-left p, .timeline-block-right p { font-family: "Muli-bold"; font-weight: normal; color: #464646 }
.timeline-block-left h4 { text-align: right }
.timeline-block-left p { text-align: right }

.marker {
    width: 28px;
    height: 26px;
    border-radius: 50%;
    border: 8px solid #94c54d;
    background: #FFF;
    position: absolute;
    z-index: 15;
    left: 50%;
    top: 0;
    margin-left: -16px;
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666;
}

.timeline-content.left { padding-right: 20%; height: 180px }

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}


@media screen and (max-width: 768px) {
   .page-about-milestone-content:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}

.about-page-milestone-container { padding-left: 0; padding-right: 0 }

/* ----------------------------------------------  Page event news -----------------------------------------------------*/

.page-event-news-top-content { width: 100% }
.page-event-news-top-item { float: left; width: 18%; border-right: 1px solid #949494; padding: 2% 3% 2% 3%; cursor: pointer; }
.page-event-news-top-item.end { border-right: 0; padding-right: 0; }
.page-event-news-top-item .image { width: 100%; text-align: center; }
.page-event-news-top-item .image img { width: 30%; filter: grayscale(100%); }
.page-event-news-top-item .text { width: 100%; border-bottom: 2px solid #6d6e70; padding: 2%; margin-top:5%; font-family: "Canaro-medium"; font-size: 12pt; color: #6d6e70; text-transform: uppercase; }
.page-event-news-top-item .text img { width: 6%; float: right; vertical-align: middle; display: none }

.page-event-news-top-item.active .image img { filter: none; }
.page-event-news-top-item.active .text img { display: block }
.page-event-news-top-item.active .text { color: #dd7330; border-bottom: 2px solid #dd7330; }

.page-event-news-filter { border-top: 1px solid #e7e8e9; border-bottom: 1px solid #e7e8e9; padding: 2% 0 8% 30%; margin-top: 5%; }
.filter-container { margin-right: 4%; float: left; }
.filter-container.input { width: 45% }
.filter-container .filter-text-content { font-family: "Muli-bold"; font-size: 10pt; color: #6d6e70; text-transform: uppercase; }
.form-control { 
    border-top: 3px solid #d1d3d4; border-color: 1px solid #d1d3d4; 
    padding: 4px 0 4px 5px;
    width: 100%;
    font-size: 8pt; font-family: "Muli-bold"; color: #d1d3d4; }
.form-search { 
    box-sizing: border-box;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 20px;
    background:url("../img/icon-search.png") no-repeat;
    background-position: 1px 2px;
    background-size: 15px 15px }
.btn { 
    margin-top: 18px;
    width: 70px;
    background-color: #e17036; /* Green */
    border: none;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }

.btn img { width: 24% }

.page-event-news-middle { padding-bottom: 450px; }

.page-event-news-panel { width: 100%; max-height: 100%; text-align: center }
.page-event-news-panel-item { width: 31%; height: auto; background-color: #fff; margin-right: 2%; float: left; box-shadow: 6px 6px 2px #bdbec2; margin-bottom: 40px }
.page-event-news-panel-item.end { margin-right: 0 }
.page-event-news-panel-item .image img { width: 100% }
.page-event-news-panel-item .container { padding: 0 10px 15px 10px; }
.page-event-news-panel-item .section-category { color: #fff; margin-top: 10px; font-family: "Canaro-medium"; font-size: 12px; text-align: center; border-radius: 5px; padding: 3px 5px 3px 5px; width: 50px; }
.page-event-news-panel-item .section-title { text-align: left; color: #6d6e70; font-family: "Canaro-medium"; font-size: 20px; margin-top: 10px; height: auto; max-width: 100%; position: relative; }
.page-event-news-panel-item .section-short-description { text-align: left; margin-top: 15px; color: #6d6e70; font-family: "Muli"; font-size: 12px; }
.page-event-news-panel-item .section-read-more { text-align: left; font-family: "Muli-bold"; margin-top: 10px; color: #6d6e70; font-size: 10pt; }
.page-event-news-panel-item .section-read-more img { width: 6%; vertical-align: middle;  }
.page-event-news-panel-item .section-date { text-align: left; font-family: "Canaro-semibold"; margin-top: 10px; color: #a7a9ac; font-size: 8pt; }

/* loading */
#loadingNewsSearch { display: none }
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


































































